:root {
  --widget-background: #2E333F;
  --background: #81A1BF;
  --text: #FFFFFF;
  --text-darker: #AAAAAA;
}

* {
  font-size: 14px;
  color: var(--text);
  font-weight: 500;
  font-family: "UbuntuSansMono NFP";
}

.yasb-bar {
  padding: 0 0px 0 0;
  background-color: var(--background);
}

.separator-widget .label {
  padding: 0px 8px;
}

.separator-widget .widget-container {
  background-color: var(--widget-background);
}

.media-widget .widget-container {
  background-color: var(--widget-background);
}

.clock-widget .widget-container {
  background-color: var(--widget-background);
}

.volume-widget .icon {
  padding-top: 1px;
}

.volume-widget .widget-container {
  background-color: var(--widget-background);
}

.memory-widget .label{
  margin-left: 8px;
}

.memory-widget .icon {
  margin-left: 8px;
}

.memory-widget .widget-container {
  background-color: var(--widget-background);
}

.komorebi-workspaces .widget-container {
  background-color: var(--widget-background);
}

.komorebi-workspaces .ws-btn {
  border: none;
  color: var(--text-darker);
  width: 26;
  height: 20;
}

.komorebi-workspaces .ws-btn.populated {
  color: var(--text);
}

.komorebi-workspaces .ws-btn.active {
  color: var(--text);
}

.komorebi-workspaces .widget-container .ws-btn.active {
  background-color: var(--background);
}

.active-window-widget .label {
  padding: 0 3px;
}

.komorebi-active-layout .widget-container {
  background-color: var(--widget-background);
}
